@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories Application</title>
    @Styles.Render("~/Content/css")

</head>
<body ng-app="application">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button> <a class="navbar-brand" href="/#/stories">Stories App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9" ng-controller="layoutController as layout">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':layout.isActive('/stories')}"><a ng-click="layout.goto('/stories')">Stories</a></li>
                <li ng-class="{'active':layout.isActive('/story/create')}"><a ng-click="layout.goto('/story/create')">Create New Story</a></li>
                <li ng-class="{'active':layout.isActive('/groups')}"><a ng-click="layout.goto('/groups')">Groups</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Home/Logout"><span class="glyphicon glyphicon-log-out"></span> Exit</a></li>
            </ul>
        </div> </div> </nav>
    <div class="container">
        @RenderBody()
    </div>

</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/app/default.js")
@Scripts.Render("~/app/application.js")
@RenderSection("BodyScripts", required: false)
</html>
