@using System.Web.Optimization
@model FlatClubDemoApp.Models.Login.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}


<!DOCTYPE html>

<html class="main-background-pic">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <h2>Join us and share your Stories! </h2>
                <h4>Register</h4>
                @using (Html.BeginForm("Register", "Home"))
                {

                    <div class="row">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserId, null, new { @class = "form-control", @placeholder = "email (it is your login)" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.UserId, null, new { @class = "error-message" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, null, new {@class = "form-control", @placeholder = "Your name"})
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.UserName, null, new {@class = "error-message"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", @type = "password", @placeholder = "password" })
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error-message" })
                        </div>
                    </div> 
                      <div class="row">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ConfirmPassword, null, new { @class = "form-control", @type = "password", @placeholder = "repeat password" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "error-message" })
                        </div>
                    </div>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Register" />
                    if (ViewBag.RegistrationFailed!=null && ViewBag.RegistrationFailed)
                    {
                        <div class="alert alert-danger">
                            <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                           For some reason registration failed. Please try again. Sorry for that :(
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

</html>
